python==3.9.25

biopython==1.85

numpy==2.0.2

openpyxl==3.1.5

pandas==2.3.3

scikit-learn==1.6.1

scipy==1.13.1

tqdm==4.67.1

tokenizers==0.22.2

torch==2.8.0+cu128

transformers==4.57.6

wheel==0.45.1